.NotFoundPage {
    position: relative;
    // height: 80vh;
    overflow: hidden;
    display: flex;
    background-color: #000408;
    border-radius: var(--borderRadius);
}

.bg {
    position: absolute;
    right: 0;
    height: 100vh;
    opacity: 0;
    animation: fadeInCat 2s ease forwards;

    img {
        object-fit: contain;
        background-position-x: right;
        object-position: right;
        filter: brightness(0.1);
    }
}
.okakLabel {
    position: absolute;
    right: 20vw;
    bottom: 100px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    z-index: 2;
    animation: fadeInCat 4s ease forwards;
}

@keyframes fadeInCat {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.left {
    height: 100vh;
    max-width: 50%;
    width: max-content;
    display: flex;
    padding: 60px;
    align-items: center;
}

.content {
    position: relative;
    height: 600px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(4px);
    border-radius: 16px;
}

.title {
    font-size: 60px !important;
    line-height: 100px !important;
    font-weight: 600 !important;
    // padding-bottom: 20px;
}

.code {
    display: block;
    position: relative;
    font-size: 300px;
    opacity: 0.08;
    top: 50px;
    font-weight: 700;
}

.button {
    width: max-content;
    padding: 12px 24px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #666;
    }
}
