.Navbar {
    padding-inline: 16px;
    padding-block: 20px;
}



/* Tablet */
@media (min-width: 451px) {
}
/* Desktop */
@media (min-width: 960px) {
    .Navbar {
    padding-inline: 16px;
    padding-block: 20px;
}
}