.Header {
    position: relative;
    height: 100vh;
}

.videoWrapper {
    height: 100vh;
    // position: absolute;

    width: 100%;
    height: 90vh;
    border-radius: 30px;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
}
video {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// .videoBackground {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     object-fit: cover;
//     // z-index: -1;
//     border: none;
//     pointer-events: none; /* отключает взаимодействие с iframe */
// }

.videoLink {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.contentOverlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px 20px;

    background-color: rgba(0, 0, 0, 0.4); // затемнённая подложка
    border-radius: 20px;
    color: white;
    width: 100%;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    gap: 20px;
}

/* Tablet */
@media (min-width: 451px) {
    .contentOverlay {
        width: 100%;
        max-width: 80%;
        top: 60%;
    }
}
/* Desktop */
@media (min-width: 960px) {
}
