.pTop {
    padding-top: 32px !important;
}
.pBottom {
    padding-bottom: 32px !important;
}
.pLeft {
    padding-left: 16px !important;
}
.pRight {
    padding-right: 16px !important;
}

/* Tablet */
@media (min-width: 451px) {
    .pTop {
        padding-top: 60px !important;
    }
    .pBottom {
        padding-bottom: 60px !important;
    }
    .pLeft {
        padding-left: 40px !important;
    }
    .pRight {
        padding-right: 40px !important;
    }
}
/* Desktop */
@media (min-width: 960px) {
    .pTop {
        padding-top: 48px !important;
    }
    .pBottom {
        padding-bottom: 48px !important;
    }
    .pLeft {
        padding-left: 40px !important;
    }
    .pRight {
        padding-right: 40px !important;
    }
}
