.MainLayout {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content {
    grid-area: content;
    max-width: var(--max-width);
    justify-self: center;
    width: 100%;
}
.header {
    top: 0;
    width: 100%;
}
.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.footer {
    bottom: 0;
}

/* Tablet */
@media (min-width: 451px) {
}
/* Desktop */
@media (min-width: 960px) {
}
