@font-face {
    font-family: "SBSansText-Regular";
    font-size: 16px;
    src: local("SBSansText-Regular"),
        url("@/shared/assets/fonts/SBSansText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SBSansDisplay-Regular";
    src: local("SBSansDisplay-Regular"),
        url("@/shared/assets/fonts/SBSansDisplay-Regular.ttf")
            format("truetype");
}
@font-face {
    font-family: "SBSansText-Semibold";
    src: local("SBSansText-Semibold"),
        url("@/shared/assets/fonts/SBSansText-Semibold.ttf") format("truetype");
}

:root {
    --max-width: 1400px;
    --mobile-screen-size: 450px;
    --tablet-screen-size: 960px;
    //Fonrs
    --font-family-SBSansText-Regular: "SBSansText-Regular", Helvetica;
    --font-family-SBSansDisplay-Regular: "SBSansDisplay-Regular", Helvetica;
    --font-family-SBSansText-Semibold: "SBSansDisplay-Semibold", Helvetica;

    // ss
    --font-size-ss: 14px;
    --font-line-ss: 20px;
    --font-ss: var(--font-size-ss) / var(--font-line-ss)
        var(--font-family-SBSansDisplay-Regular);

    // s
    --font-size-s: 16px;
    --font-line-s: 22px;
    --font-s: var(--font-size-s) / var(--font-line-s)
        var(--font-family-SBSansText-Regular);
    --font-s-semibold: var(--font-size-s) / var(--font-line-s)
        var(--font-family-SBSansText-Semibold);
    // m
    --font-size-m: 20px;
    --font-line-m: 25px;
    --font-m: var(--font-size-m) / var(--font-line-m)
        var(--font-family-SBSansText-Regular);
    --font-m-semibold: var(--font-size-m) / var(--font-line-m)
        var(--font-family-SBSansText-Semibold);

    // l
    --font-size-l: 24px;
    --font-line-l: 25px;
    --font-l: var(--font-size-l) / var(--font-line-l)
        var(--font-font-family-SB_Sans_Text);

    // xl
    --font-size-xl: 40px;
    --font-line-xl: 48px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl)
        var(--font-family-SBSansDisplay-Regular);
    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #ce0505;
    --borderRadius: 24px;
    --borderRadiusMobile: 20px;
}
