.FullBlock {
    background: var(--blueDark);
    padding: 2rem;
    border-radius: 16px;
    margin-bottom: 3rem;
    // box-shadow: 0 10px 25px rgba(0, 170, 255, 0.2);
}

.CardRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.Card {
    background: var(--blueDark);
    padding: 1.5rem;
    border-radius: 14px;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 10px 20px var(--blueDark);
}

.map {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.mapButton {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}
