.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
.textNav {
    white-space: break-spaces;
}

.navbar {
    gap: 20px;
    display: flex;

    flex-direction: row;
    justify-content: end;
    align-items: end;
    align-content: end;
}
